.element__like {
    border: 1px solid violet;
    min-width: 20px;
    height: 18px;
    padding: 0;
    border: none;
    background-color: #fff;
    background-image: url(../images/like.svg);
    background-size: contain;
    transition: background-image .3s ease;
}
.element__like:hover {
    cursor: pointer;
    background-image: url(../images/like-hover.svg);
}
.element__like:active {
  cursor: pointer;
  background-image: url(../images/like-active.svg);
}