.element__delete {
    width: 22px;
    height: 19px;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
    background-image: url(../../../images/icon-delete.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.5s;
}
.element__delete:hover {
    cursor: pointer;
    opacity: 0.7;
  }