.popup__container {
    box-sizing: border-box;
    position: relative;
    width: 430px;
    padding: 34px 36px 37px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  @media screen and (max-width: 990px) {
    .popup__container {
      width: 282px;
      padding: 25px 22px;
    }
  }